<button type="button" (click)="setHabilitar()" class="btn btn-primary my-3">{{habilitar==true? 'Ocultar':'Mostrar'}}</button>
<div class="card">
  <div class="card-header">
    Listado de lenguajes
  </div>
  <ul class="list-group" *ngIf="habilitar">
    <li class = "list-group-item" *ngFor="let curso of cursos">{{curso}}</li>
  </ul>
</div>
