<div class="card border-primary mb-3">
  <div class="card-header">
    Clientes
  </div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Clientes</h5>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Usuario</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{ client.name }}</td>
          <td>{{ client.lastname }}</td>
          <td>{{ client.username }}</td>
          <td>{{ client.email }}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
