<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form>
      <div class="form-group row" *ngIf="!request.id">
        <label for="username" class="col-form-label col-sm-2">Usuario</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="request.username" name="username">
        </div>
      </div>

      <div class="form-group row">
        <label for="brand" class="col-form-label col-sm-2">Marca</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="request.brand" name="brand">
        </div>
      </div>

      <div class="form-group row">
        <label for="subBrand" class="col-form-label col-sm-2">Sub Marca</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="request.subBrand" name="subBrand">
        </div>
      </div>

      <div class="form-group row">
        <label for="model" class="col-form-label col-sm-2">Modelo</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="request.model" name="model">
        </div>
      </div>

      <div class="form-group row">
        <label for="licencePlate" class="col-form-label col-sm-2">Placas</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="request.licencePlate" name="licencePlate">
        </div>
      </div>

      <div class="form-group row">
        <label for="serial" class="col-form-label col-sm-2">Serial</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="request.serial" name="serial">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!request.id else elseBlock">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>
