<div class="card border-primary mb-3">
  <div class="card-header">
    Pólizas
  </div>
  <div class="card-body text-primary">
    <h5 class="card-title">Pólizas registradas</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/policy/form']">
        Contratar
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Póliza</th>
          <th>Marca</th>
          <th>Submarca</th>
          <th>Modelo</th>
          <th>Placas</th>
          <th>Inicio vigencia</th>
          <th>Serial</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policy of policies">
          <td><button type="button" [routerLink]="['policy/showdetail',
          policy.id]" class="btn btn-success btn-sm"> {{ policy.id }} </button></td>
          <td>{{ policy.car.brand }}</td>
          <td>{{ policy.car.subBrand }}</td>
          <td>{{ policy.car.model }}</td>
          <td>{{ policy.car.licencePlate  }}</td>
          <td>{{ policy.initialDate  }}</td>
          <td>{{ policy.car.serial }}</td>
          <td>
            <button type="button" name="editar" [routerLink]="['/policy/form',
            policy.id]" class="btn btn-primary btn-sm">editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
